body{
    margin:0;
    min-height:100vh;
    width:100%;
    display:flex;
    justify-content: center;
    background-color: rgb(58, 213, 58);
    position: relative;
   
    
}

button{
    background-color:green;
    cursor: pointer;
    border-radius: 10px;
}

#all-pokemons{
    background-color: rgb(58, 213, 58);
    text-align: center;
    
    

}

#hole-pokemon-container{
    background-color: rgb(58, 213, 58);
    flex-wrap: wrap ;
    display:flex;
    justify-content: center;
    align-items: center;
    top:0;

}

.poke-img{
    height:80px;
    width:80px;
    object-fit: contain;
}

.poke-name{
    font-size:20px;
}

.profil-card{
    width:250px;
    height:200px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:10px;
    border-radius: 10px;
    box-shadow: 2px 2px 1px 1px black;
    margin:10px;
    background-color:white ;
}

#head-container{
    display:flex;
    justify-content: space-between;
   
    padding:20px;
    
    border-radius:10px;
    border-top-right-radius:10px;
    height:400px;
   
   
    
    width:100%;
    
    
}

#back{
    background-color: rgb(169, 167, 167);
    font-size: 30px;
    font-weight: 600;
    border:solid 2px black;
    border-radius:50%;
    margin-top:250px;
    height:60px;
    width:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    color:white;
}

#forward{
    background-color: rgb(169, 167, 167);
    color:white;
    font-size: 30px;
    border:solid 2px black;
    border-radius:50%;
    margin-top:250px;
    height:60px;
    width:60px;
    text-align: center;
    font-weight: 600;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-container{
   
    position: absolute;
    width:600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index:15;
    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 10px;
    margin-top:20px;
}

#main-content{
    display:flex;
    justify-content: flex-start;
    align-items: left;
   flex-direction: column;
   padding-top: 30px;
    color:white;
    padding-left: 30px;
    padding-top:30px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}

#head-info{
    display: flex;
    justify-content: flex-start;
    width:100%;
    padding-top:90px;
    padding-left:30px;
    background-color: gray;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    margin-top: -15px;
   
    
}

#head-info p{
    padding-left: 30px;
    font-size: 25px;
    font-weight: bold;
    transition: all 250ms ease-in-out;
    z-index: 20;
}

.hover:hover{
    color:rgb(255, 66, 66);
    transform: scale(1.1);
    cursor:pointer;
}

.color-red{
    color:rgb(190, 13, 13) !important
}

#common-info-container{
    padding-top: 50px;
    padding-left:30px;
    background-color: gray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
   
    width:100%;
    padding-bottom: 20px;
}



#pic-container{
    display:flex;
    justify-content: center;
    flex-direction: column;
    


}

#poke-pic{
    width: 400px;
    height: 300px;
    object-fit: contain;
    margin-bottom: -40px;
    z-index: 5;
}

.poke-class{
    width:100px;
    height:25px;
    background-color:yellow;
    border-radius: 10px;
    font-size: 16px;
    color:black;
    text-align: center;
    margin-bottom: 10px
}

#info-container-strongness{
    display: flex;
   align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    width:100%;
    padding-top: 50px;
    padding-left:30px;
    padding-right: 30px;
    background-color: gray;
    padding-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  
    
}

#strongness p{
    width:30%;

}

.progress{
    width: 70% !important;
}

.strongness{
    display:flex;
    justify-content: space-between;
    width:100%;
}

.d-none{
    display:none;
}

#overlay{
    height: 100%;
    z-index: 10;
    position: absolute;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.185);
}

.bg-orange{
    background-color: orange;
}

.bg-blue{
    background-color: rgb(157, 157, 255);
}

.bg-green{
    background-color: rgb(155, 250, 161);
}
.bg-red{
    background-color: rgb(255, 146, 146);
}
.bg-brown{
    background-color: rgb(213, 183, 108);
}
.bg-bluely{
    background-color: rgb(0, 242, 255);
}

.bg-normal{
    background-color: antiquewhite;
}

.bg-electric{
    background-color: rgb(254, 254, 113);
}

.bg-


